body{
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

div,


.nav {
     border-color: rgba(34,34,34,.05);
    font-family: 'myfont';

    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.nav ul {

  list-style: none;
  background-color: #444;
  text-align: left;
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100%;

}

.nav li { 
    display:inline-block;
    text-transform: uppercase;
    margin:0;
    padding-right: 20px;
    line-height: 40px;
    height: 40px;
    font-weight:400;
    letter-spacing:1px;
    
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  color: #ED1262;
  transition: .40s color;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
.nav a.home{
  color:#ED1262;
  font-family: 'KaushanScriptRegular';
  font-style: italic;
  font-weight:400;
  letter-spacing:1px;
  padding: 2px 2%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;

}

.clear-fix {
  overflow: auto;
}

@font-face {
    font-family: "myfont";
    src: url("fonts/Gotham Rounded Book.otf") format("opentype");
}
}
.interest-entry 
{

}
.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-family: 'myfont';
  font-size: 40px;
  color: #FFF;
  line-height: 22px;
  padding: 0 5%;
  text-align: center;
}


h2 {
  font-weight: bold;
  font-size: 34px;
  color: #999;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  text-transform: uppercase;
  
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}
h6{
  padding: 10px 5%;
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.pink-text {
  color: #ED1262;
  font-style: bold;
  text-align: center;
  padding-bottom: 10px;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
 background-image: url(../images/malagaGris3.jpg);
  background-color: #4a4a4a;
  background-size:cover
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 1% 5%;
}
.center-imag {
  padding: 15% 0.50%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

.icon {
  text-align: center;
  
  width: 120px;
  
}
  

#container {
 width:100%;
 text-align:center;
}
#container > div {
 width: calc(80% / 4);  
 display: inline-block;
 vertical-align: top;
 
 text-align:center;
 margin:4%;    
 padding:10px;
/* IE fix. */
  *display: inline;
  zoom: 1;
  }
#container:after {
  content: "";
  width: 100%;
  display: inline-block;
    }

img {
  width: 140px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }

  @media screen and (min-width: 600px) {
  .nav li {
    text-transform: uppercase;
    font-size: 1em;
      line-height: 30px;
      height: 40px;

      
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
}


